.headerSearch {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 1%;
  right: 10%;
  left: 10%;
  height: 50%;
  border: 1px solid #d5d5d5;
  border-radius: 10px;
  background-color: white;
  z-index: 1;
}

.headerSearch_open_container {
  display: flex;
  flex-direction: column;
}

.headerSearch_header {
  display: flex;
  border-bottom: 1px solid #d5d5d5;
}

.headerSearch_header input {
  width: 100%;
  border: none;
  outline: none;
}

.haederSearch_body {
  height: 39vh;
  max-height: 40vh;
  overflow-y: auto;
}

.headerSearch_bodyUpper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f8f8f8;
  height: 50%;
}

.headerSearch_bodyUpper p {
  width: 23rem;
  text-align: justify;
  text-align-last: center;
  justify-content: center;
  color: #656465;
}

.headerSearch_bodyLower {
  height: 50%;
  padding: 1rem;
}

.headerSearch_helpOne {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}

.headerSearch_helpTwo {
  display: flex;
  flex-direction: row;
}

.headerSearch_bodyLower div a {
  text-decoration: none;
  color: black;
}

.headerSearch_bodyLower div a:hover {
  text-decoration: underline;
  color: rgb(76, 76, 211);
}

.headerSearch_footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #f8f8f8;
  border-radius: 0px 0px 9px 9px;
  height: 12%;
  padding: 0rem 1rem;
}

.headerSearch_footer a {
  text-decoration: none;
  color: black;
}

.headerSearch_footer a:hover {
  text-decoration: underline;
  color: rgb(76, 76, 211);
}
