.ChatInputSubContainer {
  display: flex;
  flex-direction: column;
  width: 62%;
  position: fixed;
  bottom: 30px;
  right: 90px;
  border: 2px solid gray;
  border-radius: 4px;
}

.ChatInputSubContainer input {
  transition: all 300ms ease-in-out;
}

.ChatIconSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  bottom: 10px;
  transition: all 300ms ease-in-out;
  background-color: white;
}

.ChatIconLeft {
  display: flex;
  align-items: center;
}

.ChatIconSectionDark {
  background-color: #111;
  color: white;
}

.ChatIconSectionDark .MuiSvgIcon-root {
  color: white;
}
