.header {
  display: flex;
  flex-direction: row;
  height: 7.5%;
  background-color: #350d36;
  border-bottom: 1px solid #4b204c;
  transition: all 300ms ease-in-out;
}

.headerDark {
  border-bottom: 1px solid rgb(72, 72, 72);
}

.header_leftSide {
  display: flex;
  width: 70%;
  align-items: center;
}

.header_rightSide {
  display: flex;
  align-items: center;
  width: 30%;
  justify-content: flex-end;
  padding-right: 0.5rem;
}

.header_rightSide button {
  height: 1.5rem;
  border: none;
  cursor: pointer;
  outline: none;
}
.header_rightSide button img {
  height: 1.5rem;
}

.header_siderBar {
  display: flex;
  align-items: center;
  padding: 0rem 1rem;
  flex: 1;
  min-width: 8rem;
  justify-content: flex-end;
}

.header_iconButton {
  padding: 5px;
  z-index: 0;
}

.header_search_container {
  position: relative;
  align-items: center;
  flex: 2;
  height: 2rem;
  min-width: 0;
  max-width: 500px;
  display: flex;
}

.header_search_container button {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  min-width: 4.375rem;
  background-color: #431e44;
  height: 70%;
  border: 1px solid #684a68;
  outline: none;
  border-radius: 0.25rem;
}
.header_search_container button span {
  margin-left: 0.5rem;
}

.header_search_container button:hover {
  opacity: 1;
}

.header_ScheduleIcon,
.header_HelpOutlineOutlinedIcon,
.header_search_container button {
  color: #d7cfd7;
  cursor: pointer;
  transition: all 200ms ease-in-out !important;
}
.header_ScheduleIcon:hover,
.header_HelpOutlineOutlinedIcon:hover,
.header_search_container button:hover {
  color: white;
}

.header_search_container button:hover {
  background-color: rgb(73, 37, 74);
  border: 1px solid rgb(154, 134, 155);
}

.header_markQuestion {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.header_profile {
  flex: 1;
  min-width: 8rem;
  align-items: center;
  display: flex;
  justify-content: flex-end;
  padding-left: 1rem;
  padding-right: 2rem;
  position: relative;
}

.header_profile button {
  height: 80%;
  border-radius: 0.25rem;
  border: none;
  cursor: pointer;
  outline: none;
  width: 5%;
}

.header_profile button img {
  height: 100%;
  border-radius: 4px;
}

.hide-for-desktop {
  display: none;
}

@media only screen and (max-width: 320px) {
  .header_search_container {
    width: 50% !important;
  }
}

@media only screen and (max-width: 52.85rem) {
  .header_siderBar {
    min-width: 0;
  }
  .header_search_container {
    flex: none !important;
    width: 65%;
    height: 2.25rem;
    min-width: none !important;
  }
  .header_markQuestion {
    display: none;
  }
  .header_profile button {
    width: auto !important;
  }
  .react-switch-label .react-switch-button {
    height: 20.5px !important;
  }
  .header_siderBar {
    flex: none !important;
  }

  .headerHistory {
    left: 5% !important;
  }
  .headerHelp {
    left: auto !important;
  }

  .headerProfile {
    left: 20% !important;
  }
  .header_profile {
    /* width: 100%; */
    min-width: 0px !important;
    flex: none !important;
  }
  .open span:first-child {
    transform: rotate(45deg);
  }
  .open span:nth-child(2) {
    opacity: 0;
  }
  .open span:last-child {
    transform: rotate(-45deg);
  }
  .header__toggle span {
    display: block;
    width: 26px;
    height: 2px;
    background-color: white;
    transition: all 300ms ease-in-out;
    transform-origin: 3px 1px;
  }

  .header__toggle span:not(:last-child) {
    margin-bottom: 5px;
  }
}
